.logo {
    height: 200px;
    border-bottom: 1px solid #d7d8da;
}

.button-container {
    margin-top: 32px;
}

.button-container ion-button {
    height: 50px;
    width: 100%;
    margin: auto;
}

.help {
    text-align: right;
}

.signup {
    border-bottom: 1px solid #d7d8da;
}

.signup ion-text {
    position: relative;
    top: 15px;
    font-size: 1.2em;
    font-weight: bold;
    background: white;
    padding: 12px;
}

.social ion-icon {
    margin-right: 10px;
    cursor: pointer;
    font-size: 48px;
}