#register ion-header ion-toolbar ion-buttons ion-back-button {
    position: absolute;
}

#register ion-avatar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    margin: 0 auto 20px;
    box-shadow: rgb(0 0 0 / 20%) 0px 0px 2px 2px;
}

#register ion-avatar ion-icon {
    width: 80%;
    height: 80%;
}

#register .btn-register {
    height: 50px;
}