.custom-modal .modal-wrapper {
    --width: 90%;
    height: 30%;
    margin: auto;
    display: flex;
}

.custom-modal.categories ion-grid {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.custom-modal.categories ion-grid ion-row {
    width: 90%;
}

.custom-modal.categories ion-grid ion-row:nth-child(1) {
    margin-bottom: 20px;
}
