#category-list {
    height: 50px;
    background: #f5f6f9;
}

#category-list ion-row {
    height: 100%;
    display: flex;
    overflow-x: auto;
}

#category-list ion-row ion-col {
    padding: 5px 25px;
    cursor: pointer;
}

#category-list ion-row ion-col.selected{
    background: #3880ff;
    border-radius: 15px;
    color: white;
}

#category-list ion-row ion-col ion-text {
    width: 100%;
    height: 100%;
    font-size: 1rem;
    font-weight: bold;
}
